//variables
$black: #000;
$white: #fff;
$red: #AA0607;
$fsize: 15px;
$gray: #7b7b7b;
$blue:#3575D3;
$green:#009E1A;

//devices breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;
