@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?lcaf13");
  src: url("../fonts/icomoon.eot?lcaf13#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?lcaf13") format("truetype"),
    url("../fonts/icomoon.woff?lcaf13") format("woff"),
    url("../fonts/icomoon.svg?lcaf13#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-udrt:before {
  content: "\e908";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-location:before {
  content: "\e904";
}
.icon-leftarrow:before {
  content: "\e905";
}
.icon-rightarrow:before {
  content: "\e906";
}
