@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  @include sitefont;
  // background: #f8f6f4;
}

a{
  color:$black;
}

.fsbold {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.flight {
  font-weight: 300;
}
.fbold {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.fblue {
  color: $blue;
}
.fblack {
  color: $black;
}

.fred {
  color: $red;
}

.fwhite {
  color: $white;
}

.fgray{
  color:$gray;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.translinkUpdated{
  background: darken($red, 10%);
  padding: 12px 25px;
  border-radius: 50px;
  color: $white;
  border: 1px solid darken($red, 5%);;
  @include transition;
  display: block;
  height:50px;
  @include shadowbot;
  text-transform: uppercase;
  letter-spacing: 3px;

  &:hover {
    background: $red;
    color: $white;
  }
}

.translink {
  background: transparent;
  padding: 8px 25px;
  border-radius: 50px;
  color: $white;
  border: 1px solid $white;
  @include transition;
  display: inline-block;
  height:46px;

  &:hover {
    background: $red;
    color: $white;
  }
}

.redlink {
  background: $red;
  padding: 8px 25px;
  border-radius: 50px;
  color: $white!important;
  border: 1px solid transparent;
  @include transition;
  display: inline-block;
  height:42px;

  &:hover {
    background: $white;
    color: $red!important;
    border:1px solid $red;
  }
}

.redbrdlink {
  background: white;
  padding: 8px 25px;
  border-radius: 50px;
  color: $red!important;
  border: 1px solid $red;
  @include transition;
  display: inline-block;

  &:hover {
    background: $red!important;
    color: $white!important;
    border:1px solid $red;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.customContainer {
  width: 90%;
  margin: 0 auto;

  @include max($lg) {
    width: 94%;
  }
}

.sticked {
  @include shadowbot;  
  background:$red;

  .navbar-brand{
    img{
      width:75px;

      @include minMax($xs, $sm){
        width:45px;
      }
    }
  }  
}

//header styls
header {
  .topHeader{
    background:$white;
  }
  .bottomHeader{
    padding: 10px 0;
    background:$red;
  }

  .navbar-toggler{
    &:focus{
      box-shadow: none;
    }
  }

  .dropdown{
    .navbar-nav{
      background:$red!important;
      .nav-item{
        .nav-link{
          color:$white;
          padding:10px 15px!important;
        }
      }
    }
  }


  .navbar-brand {
    img {
      width: 120px;
      @include transition;

      @include minMax($xs, $md){
        width:75px;
      }
    }
  }
  .nav-item {
    .nav-link {
      text-transform: uppercase;
      @extend .fsbold;
      @include transition;
      padding:5px 15px!important;
      &:hover {
        color: $white !important;
      }
    }
    .active{
      border:1px solid $white;
      display: inline-block;
      padding:5px 15px;
      color:$white;
      @extend .fsbold;
      @include transition;
      text-transform: uppercase;

    }
  }
  .loginlink {
    border: 1px solid $white;
    border-radius: 25px;
  }
}

//header styles ends
.homeSlider {
  background: url(../img/bannerbackground.jpg) no-repeat 0 0;
  width: 100%;
  height: 100vh;
  @include verticalcenter;

  @include minMax($md, $lg){
    height:60vh;
  }

  .row{
    @include minMax($xs, $sm){
      padding-top:85px;
    }
  }

  h1 {
    font-size: clamp(1.2rem, 3vw, 3rem);

    @include minMax($xs, $sm){
      padding-top:25px;
    }
  }
}

.labelSpan{
    background:$blue;
    color:$white;   
    font-size:$fsize - 3;
    text-transform: uppercase;
    @extend .fsbold;
    display:inline-block;
    border-radius:5px;
}

.sectionTitle{
  font-size:clamp(1.2rem, 2vw, 1.5rem);
  @extend .fbold;
}

.section{
  padding:25px 0;
}

.restItem{
  width:100%;
  margin-bottom:15px;
}

.TopRestaurantsTab{
  padding:25px 0;

  li{
    &:before{
      content:'';
      display:none;
    }
  }
}

.restItem{
  @include shadowbot;

  .restItemfigure{
    position:relative;

    img{
      @include transition;
      height:200px;
      @include objectfitcover;
      width:100%;
      &:hover{
        opacity:0.8;
      }
    }
    .label{
     @extend .labelSpan;
      bottom:15px;
      left:15px;
    }
  }

  article{
    padding:15px;
    h3{
      a{
        font-size:clamp(1rem, 1.3vw, 1.2rem );
        @extend .fsbold;
        color:$black;
        @include transition;

        &:hover{
          color:$red;
        }
      }
    }
    small{
      font-size:$fsize -3;
      color:lighten($black, 30%);

      .icomoon{
        margin-right:10px;
      }
    }
    p{
      padding:10px 0;
      border-top:1px solid lighten($black, 40%);
      font-size:$fsize - 2;
       color:lighten($black, 30%);  
       margin-top:10px;    
    }
  }
}

.topRatedcrews{
  background:$white;

  .crewcol{
    @include minMax($xs, $sm){
       background:lighten($black, 96%);
       padding:25px 0 0 0;
       margin:5px 0;
    }
    figure{
      img{
        @include borderRadius(50%, 50%, 50%, 50%);
        @include shadowbot;
        width:225px;
        height:225px;
        @include objectfitcover;

        &:hover{
          opacity:0.8;
        }
      }      
    }
    article{
      a.h5{
        color:$black!important;
      }
      p{
        small{
           color:lighten($black, 30%);  
           @extend .fsbold;
        }
        .customerRate{
         @extend .labelSpan;
        }
      }
    }
  }
}
.nominatedCrew{
  background:$white;
  padding:50px;
  margin:50px 0;
  @include shadowbot;

  @include minMax($xs, $sm){
    padding:5px;
  }
}

.form-group{
  margin-bottom:10px;
  label{
    font-size:$fsize - 1;
    margin-bottom:2px;
  }
  .form-control{
    min-height:38px;
    border-radius:0;
    font-size:$fsize - 1;    
  }
}

footer{
  background:url(../img/background-thedir-cover.jpg)no-repeat 0 0;
  background-size:cover;
  padding:75px 0;
  margin-top:25px;
  @include minMax($xs, $sm){
    padding:20px 0;
  }
  p, a{
    color:lighten($black, 40%);
  }
  ul{
    li{
      a{
        padding-bottom:15px;
        display:inline-block;

        &:hover{
          color:$red;
        }
      }
    }
  }
  .h6{
    padding-bottom:20px;
  }
  .footerSubscribe{
    display:flex;
    .form-control{
      background:$white;
      @include shadowbot;
      border:none;
      width:75%;
    }
    button{
      background:$red;
      color:$white;
      border:none;
       @include shadowbot;
    }
  }
  .footerSocial{
    a{
      font-size:$fsize + 2;
      margin-right:10px;
      display:inline-block;
      @include transition;

      .icomoon{
        color:$black;
        font-size:$fsize + 3;
      }

      &:hover{
        .icomoon{
          color:$red;
        }
      }
    }
  }
}

.profilePage{
  .breadcrumb{
    border-bottom:none!important;
  }
}

.subPage{  
  padding-top:155px;

  @include minMax($xs, $md){
     padding-top:115px;
  }

  p{
    font-size:$fsize;    
    line-height:26px;
  }

  ul{
    li{
      padding-bottom:15px;
      position:relative;
      padding-left:25px;

      &:before{
        content:'';
        width:10px;
        height:10px;
        background:$red;
        position:absolute;
        left:0;
        top:8px;
        border-radius:50%;
      }
    }
  }

  .breadcrumb{
    border-bottom:1px solid lighten($gray, 30%);
    padding-bottom:15px;

    .breadcrumb-item{
      &:before{
        content:'';
      }
      a{
        position:relative;
        color:$black;
        &:after{
          content: "\e906";
          font-size:$fsize - 3;
          color:$black;
          font-family: "icomoon" !important;
          padding:0 7px 0 15px;
        }
      }
    }
    .active{
      color:$red;
    }
  }

  //sub page body 
  .subpageBody{
    min-height:500px;    

    @include minMax($xs, $sm){
      margin-top:30px;
    }

    h2{
      font-size:clamp(1rem, 2vw, 2rem );
      @extend .fbold;      
    }
    h6{
      font-size:clamp(1rem, 1.2vw, 1.2rem );
      line-height:30px;
      color:$gray;
      padding:0;
    }
  }
}

.seperatorCol{
  border-left:1px solid $gray;
  margin-left:100px;
}

.formcontact{
  background:$white;
  padding:75px 0;  
}

.signinCol{
  padding:50px;
  background:$white;
  @include shadowbot;
  min-height:250px;  
  margin-bottom:75px;

  @include minMax($xs, $sm){
    padding:15px;
  }

  .redbrdlink{
    color:$black!important;

    &:hover{
      background:none!important;
      color:$black;
    }
  }
}

.formCard{
  background:$white;
  @include shadowbot;
  border-radius:0;
  margin-bottom:20px;

  

.card-title{
    background:lighten($red, 55%);
    padding:12px 20px;
  }
  .card-body{
    padding:35px;

    @include minMax($xs, $sm){
      padding:12px;
    }

    .form-group{
      margin-bottom:20px;
    }
  }  
}

.registerbody{
  .redlink{
    min-width:300px;
    margin-bottom:25px;
  }
}

.subpageBody{
  .topRatedcrews{
    background:none;
    .crewcol{
      margin-bottom:40px;
    }
  }
}

.thumbimg{
  width:38px;
  height:38px;
  @include objectfitcover;
  border-radius:50%;
}

.postLoginPage{
  ul{
    margin:0;
    padding:0;

    li{     
      list-style: none;
      padding-left:0;

      &:before{
        content:'';
        display:none;
      }
      a{
        color:$black;
        display:block;
      }      
    }
  }
}

.rightProfile{
  background:$white;
  min-height:500px;
  border:1px solid lighten($black, 70%);
  padding:35px;

  @include minMax($xs, $sm){
    padding:15px;
  }

  .thumbimg{
    width:80px;
    height:80px;
  }
  .col-item{
    margin-bottom:20px;
    h6{
      margin:0;
      padding:0;
      font-size:$fsize + 1;
    }
  }
}

.rowdb{  
  .dbCol{ 
    padding:15px 25px 0 25px;
    width:100%;
     border:1px solid lighten($black, 80%);
    border-radius:10px;
  }  
}

.navbar-togglerProfile{
  background:$white;
  border:none;
  padding:10px;
  width:100%;
  @include shadowbot;

   @include min($lg){
    display:none;
  }
}

.userleftNav{
  padding-top:0; 
  .navbar-nav{
    flex-direction:column;
    width:100%;
  }
  .nav-item{
    margin:0 5px;
    padding-bottom:5px;
    .nav-link{
      background:lighten($black, 95%);
      padding:5px 12px;
    }   
     .active{       
         padding:5px 15px;
         background:$red;
         color:$white;       
      }
  }
}

.notifications{
  font-size:$fsize - 1;
  .notificationsHeader{
    .pagination{
      li.page-item{
        padding-bottom:0;
        margin-bottom:0;
         a{
          border:none;
         }
      }
    }
  }
  .list-group{
    .list-group-item{
      a{
        &:hover{
          color:$blue;
        }
      }
      .bi-star{
        color:lighten($black, 70%);        
      }
      .bi-star.active{
        color:lighten($blue, 10%);
      }
    }
  }
}

.composemsg{
  font-size:$fsize - 1;
}


