@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 400;
}

a {
  color: #000;
}

.fsbold, .topRatedcrews .crewcol article p small, .restItem article h3 a, .labelSpan, .topRatedcrews .crewcol article p .customerRate, .restItem .restItemfigure .label, header .nav-item .active, header .nav-item .nav-link {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.flight {
  font-weight: 300;
}

.fbold, .subPage .subpageBody h2, .sectionTitle {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.fblue {
  color: #3575D3;
}

.fblack {
  color: #000;
}

.fred {
  color: #AA0607;
}

.fwhite {
  color: #fff;
}

.fgray {
  color: #7b7b7b;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.translinkUpdated {
  background: #790405;
  padding: 12px 25px;
  border-radius: 50px;
  color: #fff;
  border: 1px solid #910506;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  display: block;
  height: 50px;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.translinkUpdated:hover {
  background: #AA0607;
  color: #fff;
}

.translink {
  background: transparent;
  padding: 8px 25px;
  border-radius: 50px;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  display: inline-block;
  height: 46px;
}
.translink:hover {
  background: #AA0607;
  color: #fff;
}

.redlink {
  background: #AA0607;
  padding: 8px 25px;
  border-radius: 50px;
  color: #fff !important;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  display: inline-block;
  height: 42px;
}
.redlink:hover {
  background: #fff;
  color: #AA0607 !important;
  border: 1px solid #AA0607;
}

.redbrdlink {
  background: white;
  padding: 8px 25px;
  border-radius: 50px;
  color: #AA0607 !important;
  border: 1px solid #AA0607;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  display: inline-block;
}
.redbrdlink:hover {
  background: #AA0607 !important;
  color: #fff !important;
  border: 1px solid #AA0607;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.customContainer {
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .customContainer {
    width: 94%;
  }
}

.sticked {
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  background: #AA0607;
}
.sticked .navbar-brand img {
  width: 75px;
}
@media (min-width: 0) and (max-width: 576px) {
  .sticked .navbar-brand img {
    width: 45px;
  }
}

header .topHeader {
  background: #fff;
}
header .bottomHeader {
  padding: 10px 0;
  background: #AA0607;
}
header .navbar-toggler:focus {
  box-shadow: none;
}
header .dropdown .navbar-nav {
  background: #AA0607 !important;
}
header .dropdown .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding: 10px 15px !important;
}
header .navbar-brand img {
  width: 120px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
@media (min-width: 0) and (max-width: 768px) {
  header .navbar-brand img {
    width: 75px;
  }
}
header .nav-item .nav-link {
  text-transform: uppercase;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  padding: 5px 15px !important;
}
header .nav-item .nav-link:hover {
  color: #fff !important;
}
header .nav-item .active {
  border: 1px solid #fff;
  display: inline-block;
  padding: 5px 15px;
  color: #fff;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  text-transform: uppercase;
}
header .loginlink {
  border: 1px solid #fff;
  border-radius: 25px;
}

.homeSlider {
  background: url(../img/bannerbackground.jpg) no-repeat 0 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 992px) {
  .homeSlider {
    height: 60vh;
  }
}
@media (min-width: 0) and (max-width: 576px) {
  .homeSlider .row {
    padding-top: 85px;
  }
}
.homeSlider h1 {
  font-size: clamp(1.2rem, 3vw, 3rem);
}
@media (min-width: 0) and (max-width: 576px) {
  .homeSlider h1 {
    padding-top: 25px;
  }
}

.labelSpan, .topRatedcrews .crewcol article p .customerRate, .restItem .restItemfigure .label {
  background: #3575D3;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 5px;
}

.sectionTitle {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.section {
  padding: 25px 0;
}

.restItem {
  width: 100%;
  margin-bottom: 15px;
}

.TopRestaurantsTab {
  padding: 25px 0;
}
.TopRestaurantsTab li:before {
  content: "";
  display: none;
}

.restItem {
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}
.restItem .restItemfigure {
  position: relative;
}
.restItem .restItemfigure img {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  height: 200px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  width: 100%;
}
.restItem .restItemfigure img:hover {
  opacity: 0.8;
}
.restItem .restItemfigure .label {
  bottom: 15px;
  left: 15px;
}
.restItem article {
  padding: 15px;
}
.restItem article h3 a {
  font-size: clamp(1rem, 1.3vw, 1.2rem);
  color: #000;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.restItem article h3 a:hover {
  color: #AA0607;
}
.restItem article small {
  font-size: 15px -3;
  color: #4d4d4d;
}
.restItem article small .icomoon {
  margin-right: 10px;
}
.restItem article p {
  padding: 10px 0;
  border-top: 1px solid #666666;
  font-size: 13px;
  color: #4d4d4d;
  margin-top: 10px;
}

.topRatedcrews {
  background: #fff;
}
@media (min-width: 0) and (max-width: 576px) {
  .topRatedcrews .crewcol {
    background: whitesmoke;
    padding: 25px 0 0 0;
    margin: 5px 0;
  }
}
.topRatedcrews .crewcol figure img {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  width: 225px;
  height: 225px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}
.topRatedcrews .crewcol figure img:hover {
  opacity: 0.8;
}
.topRatedcrews .crewcol article a.h5 {
  color: #000 !important;
}
.topRatedcrews .crewcol article p small {
  color: #4d4d4d;
}
.nominatedCrew {
  background: #fff;
  padding: 50px;
  margin: 50px 0;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}
@media (min-width: 0) and (max-width: 576px) {
  .nominatedCrew {
    padding: 5px;
  }
}

.form-group {
  margin-bottom: 10px;
}
.form-group label {
  font-size: 14px;
  margin-bottom: 2px;
}
.form-group .form-control {
  min-height: 38px;
  border-radius: 0;
  font-size: 14px;
}

footer {
  background: url(../img/background-thedir-cover.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 75px 0;
  margin-top: 25px;
}
@media (min-width: 0) and (max-width: 576px) {
  footer {
    padding: 20px 0;
  }
}
footer p, footer a {
  color: #666666;
}
footer ul li a {
  padding-bottom: 15px;
  display: inline-block;
}
footer ul li a:hover {
  color: #AA0607;
}
footer .h6 {
  padding-bottom: 20px;
}
footer .footerSubscribe {
  display: flex;
}
footer .footerSubscribe .form-control {
  background: #fff;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  border: none;
  width: 75%;
}
footer .footerSubscribe button {
  background: #AA0607;
  color: #fff;
  border: none;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}
footer .footerSocial a {
  font-size: 17px;
  margin-right: 10px;
  display: inline-block;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
footer .footerSocial a .icomoon {
  color: #000;
  font-size: 18px;
}
footer .footerSocial a:hover .icomoon {
  color: #AA0607;
}

.profilePage .breadcrumb {
  border-bottom: none !important;
}

.subPage {
  padding-top: 155px;
}
@media (min-width: 0) and (max-width: 768px) {
  .subPage {
    padding-top: 115px;
  }
}
.subPage p {
  font-size: 15px;
  line-height: 26px;
}
.subPage ul li {
  padding-bottom: 15px;
  position: relative;
  padding-left: 25px;
}
.subPage ul li:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #AA0607;
  position: absolute;
  left: 0;
  top: 8px;
  border-radius: 50%;
}
.subPage .breadcrumb {
  border-bottom: 1px solid #c8c8c8;
  padding-bottom: 15px;
}
.subPage .breadcrumb .breadcrumb-item:before {
  content: "";
}
.subPage .breadcrumb .breadcrumb-item a {
  position: relative;
  color: #000;
}
.subPage .breadcrumb .breadcrumb-item a:after {
  content: "\e906";
  font-size: 12px;
  color: #000;
  font-family: "icomoon" !important;
  padding: 0 7px 0 15px;
}
.subPage .breadcrumb .active {
  color: #AA0607;
}
.subPage .subpageBody {
  min-height: 500px;
}
@media (min-width: 0) and (max-width: 576px) {
  .subPage .subpageBody {
    margin-top: 30px;
  }
}
.subPage .subpageBody h2 {
  font-size: clamp(1rem, 2vw, 2rem);
}
.subPage .subpageBody h6 {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  line-height: 30px;
  color: #7b7b7b;
  padding: 0;
}

.seperatorCol {
  border-left: 1px solid #7b7b7b;
  margin-left: 100px;
}

.formcontact {
  background: #fff;
  padding: 75px 0;
}

.signinCol {
  padding: 50px;
  background: #fff;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  min-height: 250px;
  margin-bottom: 75px;
}
@media (min-width: 0) and (max-width: 576px) {
  .signinCol {
    padding: 15px;
  }
}
.signinCol .redbrdlink {
  color: #000 !important;
}
.signinCol .redbrdlink:hover {
  background: none !important;
  color: #000;
}

.formCard {
  background: #fff;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  border-radius: 0;
  margin-bottom: 20px;
}
.formCard .card-title {
  background: #fdcbcc;
  padding: 12px 20px;
}
.formCard .card-body {
  padding: 35px;
}
@media (min-width: 0) and (max-width: 576px) {
  .formCard .card-body {
    padding: 12px;
  }
}
.formCard .card-body .form-group {
  margin-bottom: 20px;
}

.registerbody .redlink {
  min-width: 300px;
  margin-bottom: 25px;
}

.subpageBody .topRatedcrews {
  background: none;
}
.subpageBody .topRatedcrews .crewcol {
  margin-bottom: 40px;
}

.thumbimg {
  width: 38px;
  height: 38px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  border-radius: 50%;
}

.postLoginPage ul {
  margin: 0;
  padding: 0;
}
.postLoginPage ul li {
  list-style: none;
  padding-left: 0;
}
.postLoginPage ul li:before {
  content: "";
  display: none;
}
.postLoginPage ul li a {
  color: #000;
  display: block;
}

.rightProfile {
  background: #fff;
  min-height: 500px;
  border: 1px solid #b3b3b3;
  padding: 35px;
}
@media (min-width: 0) and (max-width: 576px) {
  .rightProfile {
    padding: 15px;
  }
}
.rightProfile .thumbimg {
  width: 80px;
  height: 80px;
}
.rightProfile .col-item {
  margin-bottom: 20px;
}
.rightProfile .col-item h6 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.rowdb .dbCol {
  padding: 15px 25px 0 25px;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

.navbar-togglerProfile {
  background: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}
@media (min-width: 992px) {
  .navbar-togglerProfile {
    display: none;
  }
}

.userleftNav {
  padding-top: 0;
}
.userleftNav .navbar-nav {
  flex-direction: column;
  width: 100%;
}
.userleftNav .nav-item {
  margin: 0 5px;
  padding-bottom: 5px;
}
.userleftNav .nav-item .nav-link {
  background: #f2f2f2;
  padding: 5px 12px;
}
.userleftNav .nav-item .active {
  padding: 5px 15px;
  background: #AA0607;
  color: #fff;
}

.notifications {
  font-size: 14px;
}
.notifications .notificationsHeader .pagination li.page-item {
  padding-bottom: 0;
  margin-bottom: 0;
}
.notifications .notificationsHeader .pagination li.page-item a {
  border: none;
}
.notifications .list-group .list-group-item a:hover {
  color: #3575D3;
}
.notifications .list-group .list-group-item .bi-star {
  color: #b3b3b3;
}
.notifications .list-group .list-group-item .bi-star.active {
  color: #5f92dc;
}

.composemsg {
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */